/* Start Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
 }

body {
  font-family: 'Almarai', sans-serif;
}
i {
  color: #4a90e2;

}
/* End Global Rules */
.logo {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: inset;
  height: 25px;
}

.div1 {
  display: flex;
  align-items: center;
}
.div2 i{
  margin-right: 5px;
  }
  .div2 i:hover {
    color: red;
  }
.logo img {
  cursor: pointer;
  margin-top: 4px;
}
.logo p {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}
.main {
 position: relative;
  height: 70vh;
  z-index: -1;

}
.text {
  position: absolute;
  margin:0 80px;
}

.text .b {
 color: red;
 position: absolute;
 margin-top: 30px;
  font-weight: 900;
  font-size: 20px;
  width: 300px;
  font-family: 'Tajawal', sans-serif;
}
.text  .as{
  font-size: 86px;
  color:#ffff00;
  margin: 70px 0 30px 50px;
  font-family: 'Tajawal', sans-serif;
}
.pp {
 position: absolute;
 color: red;
 font-size: 36px;
 font-weight: 500;
margin: 200px auto auto 40%;
font-family: 'Tajawal', sans-serif;
}
.text p {
  font-family: 'Tajawal', sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: #ffff;
}
nav {
  background-color: #f0f0f0;
 
} 
nav > ul {
  margin: 10px 5px;
  margin: 0;
  padding: 0;
  
}
nav ul li {
  display: inline;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
aside .container {
  height: 216px;
  border: solid 5px #ece2ec;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 5px;
  padding: 10px 10px 10px;
  direction: rtl;
  background-color: #0000a0;
}
aside .container .ser {
  border: blue 1px solid;
  text-align: center;
  background-color: #e1e1e1;
  cursor: pointer;
  margin-top: -5px;
}
.ser p {
  font-weight: bold;
}
aside .container .ser img {
  margin-top: 2px;
}

@media only screen 
and (min-width: 200px) 
and (max-width: 900px) 
 { 

.text {
  display: none;
}

 .logo  {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 35px;
   font-size: 36px;
   width: 400px;
 }.logo p {
   font-size: 20px;
 }
 .logo .div2 {
  position: relative;
  left: 179px;
 }
 .div1 {
   position: absolute;
   left: 10px;
   width: 386px;
 }
 nav ul li {
  display: none;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
aside .container {
  grid-template-columns: repeat(2,1fr);
  gap: 21px 10px;
  height: 500px;
  margin-top: 8px;
}
aside .container .ser {
  margin-top: 9px;
  width: 190px;
  height: 100px;
  font-size: 18px;
}
.ser img {
  height: 67px;
  width: 91px;
}

header , aside, .main {
  display: grid;
  justify-content: center;
}
#main-im {
   height: 600px;
}

 }